{% extends 'blog/base.html' %}
{% block title %}About{% endblock title %}
{% block navbaraboutlink %}active{% endblock %}
{% block content %}







  <div class="heading-page header-text">

  </div>

  <section class="">
    <div class="container">
      <h2>About Toras Imecha</h2>
      <div class="row">
        <div class="col-lg-12">
          <img src="assets/images/about-us.jpg" alt="">
          <p style="text-align:left;">
            Mothering sometimes feels lonely. Our successes, failures, triumphs and challenges are private and take place within the four walls of our homes. Each of us have different struggles and different victories, yet we are united through a common goal. We all desire to raise our children in the ways of Torah and for each child to reflect the Divine potential within.

Each mother is designed to stand alone. Our children are different and so our decisions must be unique. To this end, the Torah doesn’t give us detailed mitzvos for how to be mechanech, raise our children. Even though we have hundreds of details for hundreds of mitzvos, the most foundational mitzvah in the Torah, that of raising our children to continue the mesorah, is left broad and vague. It’s obvious! The Torah can’t detail for us how to do chinuch because it is different for every single child. All of us mothers are united in our goal of raising children to reflect their Godly potential, but the details of how we do it must be unique for each family.

As much as we stand alone, we also stand united. We are connected through our common goal and our partnership with Hashem who stands with each of us as we build our families. And even though the details of how we each need to raise our children will be different, we feel connected, encouraged by each other, and strengthened by our connection through all of us standing with Hashem to build our families. This is the story of Toras Imecha.

Toras Imecha is designed to help us grow closer to Hashem, closer to our potential as mothers, and closer to other mothers on the same journey. My hope and prayer for Toras Imecha is that it will be a place where we can all continue growing as mothers, and even as we stand alone to build our homes, we will also be able to strengthen each other through our unity and connection.
          </p>
        </div>
      </div>
      <br><br>
      <div class="row">
        <img class="col-lg-2 col-md-3 col-sm-4 " src="/media/images/head.png" style="width:150px;">
        <div class="col-lg-8 col-md-9 col-sm-8">
          <h4>About Me</h4>
          <p style="text-align:left;">Toras Imecha is created by Rebecca Masinter whose passion for Torah and parenting come together in these Torah thoughts specifically designed for mothers. Rebecca has been involved in education for over twenty years, as a teacher, homeschool mother, tutor, and school administrator. Rebecca lives with her husband and six children in Baltimore, Maryland.
          </p>
          </div>

        <div class="col-lg-6">
        
        </div>
      </div>
      
    </div>
  </section>
  <br>
  <br>
  <div style="text-align-last: center; border: 1.5px solid black;">
Website designed and built by Eliyahu Masinter. Contact him at eliyahumasinter@gmail.com for all your website needs. Top Quality, Affordable Pricing.
     </div>   

{% endblock content  %}
