{% extends 'blog/base.html' %}
{% block title %}About{% endblock title %}

{% block content %}
<div class="heading-page header-text">
</div>
<div class="container">
    <h2>Showing <i>{{ length }}<i> results for <b><u>{{ query }}<b><u></h2>
    <div class="row">
        {% for podcast in podcasts %}
            <div class="col-lg-4 col-md-6 col-sm-12" style="float:center!important;">
                <iframe scrolling="no" id="{{ podcast }}" title="{{ podcast }}" frameborder="0" src="https://anchor.fm/torasimecha/embed/episodes/{{ podcast }}"></iframe>
            </div>
        {% endfor %}
    </div>
</div>



{% endblock %}
