
{% extends 'blog/base.html' %}
{% load static %}
{% block title %}{{ object.title }}{% endblock title %}
{% block content %}
<script>

function disableButton(){
  const button = document.getElementById('form-submit');
  button.style.display = "none";
}

function replyFunction(nameToReply, _ID) {
  document.getElementById("isComment").value = "True";
  document.getElementById("IDToRespondTo").value = _ID.toString();
  document.querySelector('#commentHeading').scrollIntoView({
  behavior: 'smooth'
});
  document.getElementById("commentHeading").innerHTML = "Respond to "+nameToReply;
}

function jumpToParent(pk){
  let element1 = document.getElementById("name_"+pk);
  let defaultBG = element1.style.backgroundColor;
  element1.style.backgroundColor = "#F8C0C8";


  let goto = 'C'+pk
  let element = document.getElementById(goto);
  var headerOffset = 45;
  var elementPosition = element.getBoundingClientRect().top;
  var offsetPosition = elementPosition + window.pageYOffset - headerOffset;
  window.scrollTo({
       top: offsetPosition,
       behavior: "smooth"
  });
  setTimeout(function()
    {
        element1.style.backgroundColor = defaultBG;
        element1.style.outline = defaultOutline;

    }, 1500);

}
</script>
  <div class="heading-page header-text">
  </div>
<style>
span {
        color: inheret!important;
        font-size: inheret!important;
    }
</style>
  <section class="blog-posts grid-system" style="margin-top:0">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="all-blog-posts">
            <div class="row">
              <div class="col-lg-12">
                <div class="blog-post">
                  <div class="blog-thumb">
                    <img src="{{object.image.url}}">
                  </div>
                  <div class="down-content">
                    <span style="color:#F8C0C8; size:larger;">Rebecca Masinter</span>
                    <a href="#"><h4>{{ object.title }}</h4></a>
                    <ul class="post-info">
                      <li><a href="#">{{ post.date_posted|date:"F d, Y" }}</a></li>
                      <li><a href="#">{{ post.postcomment_set.all|length}} comment{% if post.postcomment_set.all|length != 1 %}s {% endif %}</a></li>
                    </ul>
           
                    <p>
                       {% autoescape off %}
                            {{ object.content }}
                        {% endautoescape %}
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="sidebar-item comments">
                  <div class="sidebar-heading">
                    <h2>{{ post.postcomment_set.all|length}} comment{% if post.postcomment_set.all|length > 1 or post.postcomment_set.all|length == 0 %}s {% endif %}</h2>
                  </div>
                  <div class="content row">
                    <ul>

                      {% for comment in comments %}
                          <li class="col-12" id="C{{ comment.pk }}"  {% if comment.parent %} style="border-left: 6px solid black;" {% endif %} >
                            <div class="author-thumb">
                              {% if comment.email == "rmasinter@gmail.com" %}
                                  <img src="/media/images/logo.png" alt="">
                              {% else %}
                                  <img src="/media/images/userIcon.png" alt="">
                              {% endif%}
                            </div>
                            <div class="right-content">
                              <h4 id="name_{{ comment.pk }}">{{ comment.name }}<span>{{ comment.date_posted|date:"F d, Y" }}</span>
                                {% if comment.parent %}
                                    <span style="float:right; font-weight: bold; background-color: lightgray; padding: 0.2em; border-radius: 0.5em;">
                                      <button
                                          onclick="jumpToParent('{{ comment.parent.pk }}')"
                                          style="
                                                background: none;
                                                color: inherit;
                                                border: none;
                                                padding: 0;
                                                font: inherit;
                                                cursor: pointer;
                                                outline: inherit;"
                                      >
                                        Replying to {{ comment.parent.name }}
                                      </button>
                                    </span>
                                {% endif %}
                              </h4>
                              <p style="white-space: pre-line;">
                                {{ comment.comment }}
                              </p>
                              <button class="btn btn-secondary" style="float:right;" onclick="replyFunction('{{ comment.name }}', '{{ comment.pk }}')">reply</button>
                            </div>
                          </li>
                      {% endfor %}



                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="sidebar-item submit-comment">
                  <div class="sidebar-heading">
                    <h2 id="commentHeading">Your comment</h2>
                  </div>
                  <div class="content">
                    <form id="comment" method="post" onsubmit="disableButton()">
                      {% csrf_token %}
                      <input type="hidden" id="isComment" name="isComment" value="False">
                      <input type="hidden" id="IDToRespondTo" name="IDToRespondTo" value="">
                      <div class="row">
                        <div class="col-md-6 col-sm-12">
                          <fieldset>
                            <input name="name" type="text" id="name" placeholder="Your name" required="">
                          </fieldset>
                        </div>
                        <div class="col-md-6 col-sm-12">
                          <fieldset>
                            <input name="email" type="email" id="email" placeholder="Your email" required="">
                          </fieldset>
                        </div>
                        <div class="col-lg-12">
                          <fieldset>
                            <textarea name="message" rows="6" id="message" placeholder="Type your comment" required=""></textarea>
                          </fieldset>
                        </div>
                        <div class="col-lg-12">
                          <fieldset>
                            <button type="submit" id="form-submit" class="main-button">Submit</button>
                          </fieldset>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 d-none d-xl-block">
          <div class="sidebar">
            <div class="row">
              <div class="col-lg-12">
                <div class="sidebar-item recent-posts">
                  <div class="sidebar-heading">
                    <h2>Recent Posts</h2>
                  </div>
                  <div class="content">
                    <ul>
                       {% for post in posts %}
                            <li><a href="{% url 'blog-post' post.pk %}">
                              <h5>{{ post.title }}</h5>
                              <span>{{ post.date_posted|date:"F d, Y" }}</span>
                            </a></li>
                        {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                  <div class="sidebar-item tags">
                    <div class="sidebar-heading">
                      <h2>Tags</h2>
                    </div>
                    <div class="content">
                      <ul>
                        {% for tag in tags %}
                          <li><a href="{% url 'blog-tagdetails' tag %}">{{ tag.title }}</a></li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


{% endblock content  %}
