{% extends 'blog/base.html' %}
{% load static %}
{% block title %}Posts{% endblock title %}
{% block navbarpostslink %}active{% endblock navbarpostslink %}
{% block content %}

    <div class="heading-page ">
    </div>
    
               
                       
    <section class="blog-posts grid-system">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="all-blog-posts">
              <div class="row">
                {% for post in posts %}

                <div class="col-lg-4">
                  <div class="blog-post">
                    <div class="blog-thumb">
                      <img src="{{ post.image.url }}" alt="">
                    </div>
                    <div class="down-content">

                      <a href="{% url "blog-post" post.pk %}"><h4>{{ post.title }}</h4></a>
                      <ul class="post-info">
                        <li><a href="#">{{ post.date_posted|date:"F d, Y"}}</a></li>
                        <li><a href="#">{{ post.postcomment_set.all|length}} comment{% if post.postcomment_set.all|length != 1 %}s {% endif %}</a></li>
                      </ul>

                
                    </div>
                  </div>
                </div>

                {% endfor %}


              </div>
                <div class="col-lg-12">
                  <ul class="page-numbers">
                    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <li><a href="?page=1"><<</a></li>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <li class="active"><a href="?page={{ num }}">{{ num }}</a></li>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <li><a href="?page={{ num }}">{{ num }}</a></li>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.paginator.num_pages }}">>></li></a></li>
      {% endif %}

    {% endif %}

                  </ul>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>


{% endblock content %}
